extends ./layout.jade

block title
  title lelchat - Administration

block header
  h1 lelchat - Administration
block slogan
  em Quality administration using shit like SQL.

block content
  
  div
    h3 Register user
    form(action='/api/admin/register', method='post', id='registerSubmit')
      p
        label Name
        br
        input(type='text', name='name', placeholder='bigstuff89')

      p
        label Password
        br
        input(type='password', name='password', placeholder='qwerty123')

      p 
        label Type
        br
        select(name='type')
          option(value='0') Admin
          option(value='1') User

      button(type='submit', form='registerSubmit') Register

  div
    h3 Delete message
    
    pre
      each message in messages
        = '[' + message.id + '] '
        em= '(' + message.date + ') '
        b= message.name + ': '
        = message.text
        br

    //-                                 Oh how I wish I could use DELETE instead...
    form(action='/api/admin/message', method='get', id='deleteMessageSubmit')
      p 
        label Message ID
        br
        input(type='number', name='id', placeholder='0')

      button(type='submit', form='deleteMessageSubmit') Delete
