extends ./layout.jade

block content
  h1 lelchat
  em Quality messaging using shit like SQL.

  hr

  div
    h3 Send message
    form(action='/api/message', method='post', id='messageSubmit')
      p 
        label Text message
        br
        textarea(cols='50', rows='5', name='text', placeholder='Write a cute message here')

      button(type='submit', form='messageSubmit') Submit

  hr

  div
    h3 Chat
    pre
      each message in messages
        em= '(' + message.date + ') '
        b= message.name + ': '
        = message.text
        br
