//-
  @licence
 
  Copyright (C) 2015 William Wennerström
  
  This program is free software: 
  You can redistribute it and/or modify it under the terms of the GNU General Public License
  as published by the Free Software Foundation, version. This program is distributed in the 
  hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of 
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 
  See the GNU General Public License for more details. 
  You should have received a copy of the GNU General Public License along with this program.
  If not, see <http://www.gnu.org/licenses/>.

extends ./layout.jade

block header
  h1 lelchat - Home
block slogan
  em Quality messaging using shit like SQL.

block content

  div
    h3 Send message
    form(action='/api/message', method='post', id='messageSubmit')
      p 
        label Text message
        br
        textarea(cols='50', rows='5', name='text', placeholder='Write a cute message here')

      button(type='submit', form='messageSubmit') Send

  hr

  div
    h3 Chat
    pre
      each message in messages
        em= '(' + message.date + ') '
        b= message.name + ': '
        = message.text
        br
