//- LAYOUT
doctype html

html(lang='en')
  head
    block title
      title lelchat

    meta(charset='UTF-8')

    //- Default stylesheet
    link(rel='stylesheet', href='/stylesheets/default.css')

  body
    block content
